<header id="phaseoneheader">

<h1> Chilling </h1>


</header>


<main>

<div id="phasewrapper">

<div id="leftphaseone">
	<br>
<!-- piechart here -->
<h1 >Pass Fail Pie-Chart</h1><br><br><br>
<div class="pieContainer">
  <div class="pieBackground"></div>
  <div id="pieSlice1" class="hold"><div class="pie"></div></div>
  <div id="pieSlice2" class="hold"><div class="pie"></div></div>
  <div class="innerCircle"><div class="content">Number of containers</div></div>
</div>

</div>

<div id="rightphaseone">
<!-- table here -->

<div class="table-title">
<h3>Data Table</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">ContainerID</th>
<th class="text-left">Temperature</th>
<th class="text-left">Pass/Fail</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">4</td>
<td class="text-left">2°C</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">5</td>
<td class="text-left">2°C</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">6</td>
<td class="text-left">5°C</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
<tr>
<td class="text-left">7</td>
<td class="text-left">3°C</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">11</td>
<td class="text-left">6°C</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
<tr>
<td class="text-left">13</td>
<td class="text-left">7°C</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
</tbody>
</table>

</div>

</div>
</main>


<footer>


</footer>