<!-- 9 tests -->
<header id="phasetwoheader">

<h1> Phase 2 </h1>


</header>


<main id="ninetests">
<!-- table here with checkboxes --> 
<ul id="ulofphase2">
<li id="one"><label for="c1">Test1: Standard Plate Count (SPC)</label> <input type="checkbox" id="c1" name="cc" /></li> 
<li id="two"><label for="c1">Test2: Phychrotrophic Bacteria Count (PBC)</label> <input type="checkbox" id="c1" name="cc" /></li> 
<li id="three"><label for="c1">Test3: Coliform Count (CC)</label> <input type="checkbox" id="c1" name="cc" /></li> 
<li id="four"><label for="c1">Test4: Laboratory Pasteurization Count (LPC)</label> <input type="checkbox" id="c1" name="cc" /></li> 
<li id="five"><label for="c1">Test5: Preliminary Incubation Count (PI) <input type="checkbox" id="c1" name="cc" /></li> 
<li id="six"><label for="c1">Test6: Somatic Cell Count (SCC)</label> <input type="checkbox" id="c1" name="cc" /></li> 
</ul>
<button type="submit" id="sbutton" form="form1" value="Submit">Submit</button>
</main>


<footer>


</footer>