<header id="phaseoneheader">

<h1> Pasteurization </h1>


</header>


<main>

<div id="phasewrapper">

<div id="leftphaseone">
	<br>
<!-- piechart here -->
<h1 >Pass Fail Pie-Chart</h1><br><br><br>
<div class="pieContainer">
  <div class="pieBackground"></div>
  <div id="pieSlice1" class="hold"><div class="pie"></div></div>
  <div id="pieSlice2" class="hold"><div class="pie"></div></div>
  <div class="innerCircle"><div class="content">Number of containers</div></div>
</div>

</div>

<div id="rightphaseone">
<!-- table here -->

<div class="table-title">
<h3>Data Table</h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left">ContainerID</th>
<th class="text-left">Temperature</th>
<th class="text-left">Time (in seconds)</th>
<th class="text-left">Pass/Fail</th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">1</td>
<td class="text-left">74°C</td>
<td class="text-left">16</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">2</td>
<td class="text-left">71°C</td>
<td class="text-left">18</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">8</td>
<td class="text-left">65°C</td>
<td class="text-left">15</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
<tr>
<td class="text-left">9</td>
<td class="text-left">75°C</td>
<td class="text-left">20</td>
<td class="text-left"><span class="message-success"></span></td>
</tr>
<tr>
<td class="text-left">10</td>
<td class="text-left">71°C</td>
<td class="text-left">45</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
<tr>
<td class="text-left">14</td>
<td class="text-left">80°C</td>
<td class="text-left">12</td>
<td class="text-left"><span class="message-failed"></span></td>
</tr>
</tbody>
</table>

</div>

</div>
</main>


<footer>


</footer>