<header id="phaseoneheader">

<h1> Phase 1 </h1>


</header>


<main>
<div id="leftphaseone">
<!-- piechart here -->

</div>

<div id="rightphaseone">
<!-- table here -->

</div>


</main>


<footer>


</footer>