<!-- seventy two degrees --> 
<header id="phasethreeheader">

<h1> Phase 3 </h1>


</header>


<main>
<div id="leftphasethree">
<!-- graph --> 

</div>

<div id="rightphasethree">
<!-- 72 degrees --> 

</div>


</main>


<footer>


</footer>