*{
  padding: 0;
  margin: 0; 
}

body{
  margin: 0;
  background: url(test.jpg);
  background-repeat: no-repeat;
  height: 100% ;
  width: 100%; 
  background-position: 0 0;
  background-size: cover;
  height: 100%;
  font: 13px/1.3 "Lucida Grande", sans-serif;
  color: #666;
   background-size:100% 100vh;
 
}
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}

.chart {
  display: table;
  table-layout: fixed;
  width: 50%;
  max-width: 700px;
  height: 200px;
  margin: 0 auto;
  background-color: #7FFF00;
  /*opacity: 0.8;*/
  /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);*/
  background-size: 100% 50px;
  background-position: left top;
  opacity: 0.8;
  border: 3px solid black;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 300px;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: #FF7F50;
  animation: draw 1s ease-in-out;
  text-align: center;
  font-family: 'courier new' ; 
  font-weight: bold;
}
.chart li .heading{
  text-decoration: none;
  font-weight: bold;
  font-family: 'courier new' ;
  font-size: 15px;

}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

@keyframes draw {
  0% {
    height: 0;
  }
}

/* container info xss */

#containerinfo {
   width: 300px;
   height: auto; 
   color: black;
   opacity: 0.8; 
    margin-top: 40px; margin-left: 40%; margin-bottom: 40px; 
    text-align: center; 
    font-family: 'EB Garamond', serif;
    font-size: 15px; 
}
#containerinfo h3{

}
#allphasechart{

}


/* footer */
#homefooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(gray,  #87CEFA);
    color: white;
    text-align: right;
    height: 50px;
    font-family: 'EB Garamond', serif;
    font-size: 25px;
    font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);
/* phase one html erb */

#phaseoneheader{
  height: 100px; 
  width: 100%;
  background: linear-gradient(gray,  #87CEFA);
  
}
#phaseoneheader h1{
  font-family: 'Cardo', serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
#phasetwoheader{
  height: 100px; 
  width: 100%;
  background: linear-gradient(gray,  #87CEFA);
  
}
#phasetwoheader h1{
  font-family: 'Cardo', serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

#phasethreeheader{
  height: 100px; 
  width: 100%;
  background: linear-gradient(gray,  #87CEFA);
  
}
#phasethreeheader h1{
  font-family: 'Cardo', serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}


/* phase 2 */
#ninetests #ulofphase2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column; 
}
#ninetests #ulofphase2 li{
  color: #111; font-family: 'Helvetica Neue', sans-serif; 
  font-size: 27px; font-weight: bold; letter-spacing: -1px; line-height: 1; 
  padding-top: 25px; list-style-type: none; text-align: center; 
} 

#ninetests #ulofphase2 #one{
  padding-top: 55px; 
} 

#ninetests #ulofphase2 #c1{
  height: 30px;
  width: 30px;
  background: linear-gradient(gray,  #87CEFA); 
} 
#ninetests #sbutton{
  height: 50px;
  width: 200px;
  background: linear-gradient(gray,  #87CEFA); 
  text-align: center;
  font-weight: bold; 
  font-size: 30px; 
  margin-top: 40px;
  margin-left: 42% ; 

}